@-moz-document url-prefix() {
    [data-layout-fill] {
        margin: 0;
        width: 100%;
        min-height: 100%;
        height: 100%
    }
}

[data-flex-order="1"] {
    order: 1
}

[data-layout-align="start center"],
[data-layout-align="start start"] {
    justify-content: flex-start
}

[data-layout-align="center center"] {
    justify-content: center
}

[data-layout-align="end end"] {
    justify-content: flex-end
}

[data-layout-align="start start"] {
    align-items: flex-start;
    align-content: flex-start
}

[data-layout-align="center center"],
[data-layout-align="start center"] {
    align-items: center;
    align-content: center;
    max-width: 100%
}

[data-layout-align="center center"]>*,
[data-layout-align="start center"]>* {
    max-width: 100%;
    box-sizing: border-box
}

[data-layout-align="end end"] {
    align-items: flex-end;
    align-content: flex-end
}

[data-flex] {
    flex: 1;
    box-sizing: border-box
}

[data-layout=row]>[data-flex="50"] {
    flex: 1 1 50%;
    max-width: 50%;
    max-height: 100%;
    box-sizing: border-box
}

[data-layout] {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

[data-layout=column] {
    flex-direction: column
}

[data-layout=row] {
    flex-direction: row
}

[data-layout-wrap] {
    flex-wrap: wrap
}

@media (min-width:600px) {
    [data-layout=row]>[data-flex-gt-xs="33"] {
        flex: 1 1 33.33%;
        max-width: 33.33%;
        max-height: 100%;
        box-sizing: border-box
    }
}

@media (min-width:960px) {
    [data-layout=row]>[data-flex-gt-sm="25"] {
        flex: 1 1 25%;
        max-width: 25%;
        max-height: 100%;
        box-sizing: border-box
    }

    [data-layout=row]>[data-flex-gt-sm="33"] {
        flex: 1 1 33.33%;
        max-width: 33.33%;
        max-height: 100%;
        box-sizing: border-box
    }
}

.byFXAO {
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s
}

.jvRVUD {
    min-height: 692px;
    transition: all 0.3s ease 0s;
    min-width: 100%
}

.jvRVUD>div {
    min-width: 100%
}

@-webkit-keyframes UNTA {
    0% {
        opacity: 0;
        transform: translateY(-44px) scaleY(0)
    }

    100% {
        transform: translateY(0px) scaleY(1);
        opacity: 1
    }
}

@keyframes UNTA {
    0% {
        opacity: 0;
        transform: translateY(-44px) scaleY(0)
    }

    100% {
        transform: translateY(0px) scaleY(1);
        opacity: 1
    }
}

@-webkit-keyframes kULnYm {
    0% {
        transform: scale(1)
    }

    25% {
        transform: scale(0.85)
    }

    75% {
        transform: scale(1.15)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes kULnYm {
    0% {
        transform: scale(1)
    }

    25% {
        transform: scale(0.85)
    }

    75% {
        transform: scale(1.15)
    }

    100% {
        transform: scale(1)
    }
}

@-webkit-keyframes fUnumz {
    0% {
        box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 18px;
        transform: scale(1)
    }

    50% {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 6px;
        transform: scale(0.85)
    }

    100% {
        box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 18px;
        transform: scale(1)
    }
}

@keyframes fUnumz {
    0% {
        box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 18px;
        transform: scale(1)
    }

    50% {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 6px;
        transform: scale(0.85)
    }

    100% {
        box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 18px;
        transform: scale(1)
    }
}

@-webkit-keyframes gaDJJd {
    0% {
        background: rgb(250, 250, 250)
    }

    50% {
        background: rgb(239, 239, 239)
    }

    100% {
        background: rgb(250, 250, 250)
    }
}

@keyframes gaDJJd {
    0% {
        background: rgb(250, 250, 250)
    }

    50% {
        background: rgb(239, 239, 239)
    }

    100% {
        background: rgb(250, 250, 250)
    }
}

@-webkit-keyframes fUVMXb {
    0% {
        left: 0px
    }

    50% {
        left: -100%
    }

    100% {
        left: 0px
    }
}

@keyframes fUVMXb {
    0% {
        left: 0px
    }

    50% {
        left: -100%
    }

    100% {
        left: 0px
    }
}

@-webkit-keyframes jirZGd {
    0% {
        right: -100%
    }

    100% {
        right: 0px
    }
}

@keyframes jirZGd {
    0% {
        right: -100%
    }

    100% {
        right: 0px
    }
}

@-webkit-keyframes tkitV {
    80% {
        transform: none
    }

    90% {
        transform: translateY(0px) scaleY(0)
    }
}

@keyframes tkitV {
    80% {
        transform: none
    }

    90% {
        transform: translateY(0px) scaleY(0)
    }
}

@-webkit-keyframes gTDETD {
    0% {
        transform: translateY(5px)
    }

    25% {
        transform: translateY(25px)
    }

    50% {
        transform: translateY(5px)
    }

    75% {
        transform: translateY(25px)
    }

    100% {
        transform: translateY(5px)
    }
}

@keyframes gTDETD {
    0% {
        transform: translateY(5px)
    }

    25% {
        transform: translateY(25px)
    }

    50% {
        transform: translateY(5px)
    }

    75% {
        transform: translateY(25px)
    }

    100% {
        transform: translateY(5px)
    }
}

@-webkit-keyframes ibwhYF {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes ibwhYF {
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes eyKMEB {
    0% {
        width: 70%;
        left: 0px
    }

    25% {
        width: 100%;
        left: 0px
    }

    50% {
        width: 70%;
        left: 30%
    }

    75% {
        width: 100%;
        left: 0px
    }

    100% {
        width: 70%;
        left: 0px
    }
}

@keyframes eyKMEB {
    0% {
        width: 70%;
        left: 0px
    }

    25% {
        width: 100%;
        left: 0px
    }

    50% {
        width: 70%;
        left: 30%
    }

    75% {
        width: 100%;
        left: 0px
    }

    100% {
        width: 70%;
        left: 0px
    }
}

@-webkit-keyframes eMLfYp {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes eMLfYp {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes hSsjZP {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes hSsjZP {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes cFUYby {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes cFUYby {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@-webkit-keyframes hNMAqf {}

@keyframes hNMAqf {}

@-webkit-keyframes fPCGch {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.02)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes fPCGch {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.02)
    }

    100% {
        transform: scale(1)
    }
}

/* @font-face {
    font-family: Gotham;
    font-style: normal;
    font-weight: 300;
    src: local("Gotham Light"), local("Gotham Light"), url(/images/download\ \(11\))format("woff2")
}

@font-face {
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    src: local("Gotham Regular"), local("Gotham Regular"), url(/images/download\ \(10\))format("woff2")
} */

* {
    box-sizing: border-box
}

#app {
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
    font-family: Gotham, sans-serif;
    overflow: hidden
}

.iDvcNc {
    max-width: 1080px;
    width: 100%;
    z-index: 2;
    position: relative;
    padding: 0px 8px;
    margin: 0px auto
}

.iHKPAh {
    font-size: 24px;
    padding: 8px;
    position: relative;
    color: black;
    width: 100%;
    opacity: 0;
    animation: 1s ease 0s 1 normal forwards running eMLfYp
}

@media screen and (max-width:600px) {
    .iHKPAh {
        padding: 8px 16px
    }
}

.cPOuVK {
    padding: 0px 0px 48px;
    width: 100%;
    opacity: 0;
    animation: 1s ease 0s 1 normal forwards running eMLfYp;
    min-height: 622px;
    position: relative
}

.iruFnG {
    background-color: transparent;
    color: rgb(18, 18, 18);
    width: 100%
}

.ccvaVR {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
    transition: all 0.4s ease 0s;
    opacity: 0.05;
    background-position: center bottom;
    /* background-image: url(/images/home.svg); */
    background-size: 30%;
    background-repeat: repeat-x
}

.bImZlT {
    padding: 12px;
    position: relative;
    cursor: pointer;
    opacity: 0;
    transform: translateY(40px);
    animation: 1s ease 0s 1 normal forwards running cFUYby
}

.jHilRk {
    padding: 12px;
    position: relative;
    cursor: pointer;
    opacity: 0;
    transform: translateY(40px);
    animation: 1s ease 0.1s 1 normal forwards running cFUYby
}

.kTOkaZ {
    padding: 12px;
    position: relative;
    cursor: pointer;
    opacity: 0;
    transform: translateY(40px);
    animation: 1s ease 0.2s 1 normal forwards running cFUYby
}

.dniaMG {
    padding: 12px;
    position: relative;
    cursor: pointer;
    opacity: 0;
    transform: translateY(40px);
    animation: 1s ease 0.3s 1 normal forwards running cFUYby
}

.fjuhPy {
    padding: 12px;
    position: relative;
    cursor: pointer;
    opacity: 0;
    transform: translateY(40px);
    animation: 1s ease 0.4s 1 normal forwards running cFUYby
}

.lbdOIa {
    padding: 12px;
    position: relative;
    cursor: pointer;
    opacity: 0;
    transform: translateY(40px);
    animation: 1s ease 0.5s 1 normal forwards running cFUYby
}

.gonvaK {
    margin: 48px 0px 48px -12px
}

.XqmYF {
    margin-bottom: 0px
}

.lbLhDd {
    width: 100%
}

.iXRprr {
    box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 12px;
    padding: 8px;
    width: 100%;
    position: relative;
    z-index: 100000;
    background-color: transparent;
    color: transparent
}

.ZjlBD {
    padding: 8px
}

.eidlNM {
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 12px;
    background: white;
    padding: 8px;
    color: rgb(18, 18, 18);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    text-align: center
}

.fNgQbd {
    position: relative;
    z-index: 2147483647;
    width: 100%;
    opacity: 0;
    animation: 1s ease 0s 1 normal forwards running eMLfYp
}

.ilmAyS {
    padding: 10px;
    position: relative;
    z-index: 1;
    width: 100%;
    border: 0px solid rgba(221, 221, 221, 0);
    outline: none;
    background-color: transparent;
    color: rgb(34, 34, 34);
    cursor: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 44px;
    border-radius: 4px;
    appearance: textfield
}

.fCdwVW {
    color: rgb(34, 34, 34);
    opacity: 0.5;
    z-index: 0;
    height: 44px;
    margin-top: -44px;
    padding: 10px
}

.hBCXwb {
    position: relative;
    z-index: 10000000;
    width: 100%;
    background: rgb(245, 245, 245)
}

.jPrPcR {
    width: 100%;
    height: 140px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background-position: center center;
    background-image: url(/images/city1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 12px
}

.jPrPcR:hover,
.jPrPcR:active,
.jPrPcR:focus {
    box-shadow: rgba(0, 0, 0, 0.267) 0px 3px 18px
}

.jPrPcR h3 {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px
}

.jPrPcR h4 {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px
}

.gKSLQX {
    width: 100%;
    height: 140px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background-position: center center;
    background-image: url(/images/mosque.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 12px
}

.gKSLQX:hover,
.gKSLQX:active,
.gKSLQX:focus {
    box-shadow: rgba(0, 0, 0, 0.267) 0px 3px 18px
}

.gKSLQX h3 {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px
}

.gKSLQX h4 {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px
}

.hcthsq {
    width: 100%;
    height: 140px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background-position: center center;
    background-image: url(/images/islam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 12px
}

.hcthsq:hover,
.hcthsq:active,
.hcthsq:focus {
    box-shadow: rgba(0, 0, 0, 0.267) 0px 3px 18px
}

.hcthsq h3 {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px
}

.hcthsq h4 {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px
}

.eQVqBV {
    width: 100%;
    height: 140px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background-position: center center;
    background-image: url(/images/city2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 12px
}

.eQVqBV:hover,
.eQVqBV:active,
.eQVqBV:focus {
    box-shadow: rgba(0, 0, 0, 0.267) 0px 3px 18px
}

.eQVqBV h3 {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px
}

.eQVqBV h4 {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px
}

.daYkHk {
    width: 100%;
    height: 140px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background-position: center center;
    background-image: url(/images/panaflx.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 12px
}

.daYkHk:hover,
.daYkHk:active,
.daYkHk:focus {
    box-shadow: rgba(0, 0, 0, 0.267) 0px 3px 18px
}

.daYkHk h3 {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px
}

.daYkHk h4 {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px
}

.iBcaIY {
    width: 100%;
    height: 140px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background-position: center center;
    background-image: url(/images/bha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 12px
}

.iBcaIY:hover,
.iBcaIY:active,
.iBcaIY:focus {
    box-shadow: rgba(0, 0, 0, 0.267) 0px 3px 18px
}

.iBcaIY h3 {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px
}

.iBcaIY h4 {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px
}

.kuQeoG {
    width: 100%;
    height: 70%;
    opacity: 0.8;
    bottom: 0px;
    left: 0px;
    position: absolute;
    border-radius: 4px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%)
}

.dcuRiJ {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 12px
}

.dcuRiJ h3 {
    transition: all 0.3s ease 0s;
    margin: 0px;
    font-size: 24px;
    color: inherit;
    font-weight: 500;
    text-align: right !important
}

@media screen and (max-width:600px) {
    .dcuRiJ h3 {
        font-size: 18px
    }
}

.dcuRiJ h4 {
    transition: all 0.3s ease 0s;
    margin: 0px;
    color: inherit;
    font-weight: 300
}
.sf-hidden{display:none!important}
img[src="data:,"],source[src="data:,"]{display:none!important}
*,
::before,
::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246/0.5);
    --tw-ring-offset-shadow: 0 0#0000;
    --tw-ring-shadow: 0 0#0000;
    --tw-shadow: 0 0#0000;
    --tw-shadow-colored: 0 0#0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

@keyframes wt-pulse {
    50% {
        opacity: .5
    }
}

body,
div,
span {
    user-select: text !important
}

h3,
h4 {
    cursor: auto;
    user-select: text !important
}

::selection {
    background-color: #338FFF !important;
    color: #fff !important
}


.fYQHOI {
    box-shadow: rgba(0,0,0,0.15) 0px 5px 10px -5px;
    border-radius: 4px;
    position: absolute;
    overflow: hidden auto;
    z-index: 1000;
    top: 50px;
    left: 0px;
    min-width: 150px;
    width: 100%;
    max-height: 400px;
    background: white;
    opacity: 0;
    transform: translateY(-44px) scaleY(0);
    transform-origin: 50% 0px;
    animation: 0.5s ease 0s 1 normal forwards running UNTA;
}

.dQKPgv {
    border-top: 1px solid rgb(243,243,243);
    font-size: 13px;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    pointer-events: auto;
    transition: all 0.3s ease 0s;
    position: relative;
    min-height: 45px;
    color: rgb(0,130,105);
    background: rgb(238,238,238);
}

.gNhIAc {
    border-top: 1px solid rgb(243,243,243);
    font-size: 13px;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    pointer-events: auto;
    transition: all 0.3s ease 0s;
    position: relative;
    min-height: 45px;
    color: rgb(34,34,34);
}
.fYVbAs {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
}
.dWWAxa {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    border: 1px solid rgb(238,238,238);
    background-color: rgb(245,245,245);
    line-height: 32px;
    border-radius: 4px;
}
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}







.dQKPgv{border-top:1px solid rgb(243,243,243);font-size:13px;padding:8px;width:100%;cursor:pointer;pointer-events:auto;transition:all 0.3s ease 0s;position:relative;min-height:45px;color:rgb(0,130,105);background:rgb(238,238,238)}
.dQKPgv *{opacity:1}
.dQKPgv img{height:24px;border-radius:2px;margin-right:8px}
.dQKPgv p{margin:0px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;color:inherit;transition:all 0.3s ease 0s}
.dQKPgv:hover{background:rgb(238,238,238);color:rgb(0,130,105)}
.dQKPgv:focus,
.dQKPgv:active{box-shadow:none;outline:none}

.gNhIAc{border-top:1px solid rgb(243,243,243);
    font-size:13px;padding:8px;width:100%;cursor:pointer;pointer-events:auto;transition:all 0.3s ease 0s;position:relative;min-height:45px;color:rgb(34,34,34)}
    .gNhIAc *{opacity:1}
    .gNhIAc i{margin-right:8px;padding-top: 6px;text-align:center;color:rgb(0,130,105);font-size:16px!important}
    .gNhIAc p{margin:0px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;color:inherit;transition:all 0.3s ease 0s}
    .gNhIAc:hover{background:rgb(238,238,238);color:rgb(0,130,105)}
    .gNhIAc:focus,
    .gNhIAc:active{box-shadow:none;outline:none}

    @font-face{font-family:"Material Icons";font-style:normal;font-weight:400;src:url("/static/Material400")format("woff2")}.material-icons{font-family:"Material Icons";font-weight:normal;font-style:normal;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:"liga";-webkit-font-smoothing:antialiased}




